h1{
    
    font-family: fantasy;
    text-align: center;
    font-size:45;
    color:cadetblue;
}
#Menu{
  list-style:none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Electronics ul{
    
     list-style:none;
}
#MainNavBar ul li:hover > ul li{
   border-style: solid;
    background-color: lightgrey;
   border-radius: 5px;
   text-align: center;
}
#MainNavBar ul li:hover  ul{
   position: absolute;
   left: 50px;
   color: white;
   margin-left: auto;
   display:block;
}

#MainNavBar ul li:hover {
    color: darkcyan ;
}

#MainNavBar ul ul {
    display: none;
}
#MainNavBar{
    margin: 5px;
    background-color: deepskyblue;
    height: 60px;
    font-size: 28;
    color: white;
    font-family: fantasy;
   
}